// Colors
$charcoal: #2f3e46;
$ashGray: #cad2c5;
$darkSeaGreen: #84a98c;
$orangeRed: #f26419;
$unitedNationsBlue: #6290c8;
$ming: #28666e;
$navajoWhite: #fedc97;
$outerSpaceCrayola: #2c3639;
$darkSlateGray: #3f4e4f;
$graniteGray: #696464;
